# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
venv/
env/
.venv/

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints

# ======================
# Model Deep Learning
# ======================
*.h5
*.hdf5
*.pt
*.pth

# ======================
# Logs & temp files
# ======================
*.log
*.tmp

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Dataset (optional)
# ======================
data/
dataset/

# ======================
# Environment variables
# ======================
.env